# requirements for python environment
# update with pip update -r requirements.txt
xarray~=2024.3.0
scipy~=1.11
pandas~=2.2.0
ipython
cartopy~=0.22
cftime~=1.6
dask[distributed]~=2024.4.2
#zlib~=1.2
requests~=2.28
# R -- can't install R stuff with pip :-(
#r-extRemes
#r-viridis
#r-fields
#r-raster
#r-codetools
#r-terra==1.7-29
#cdo>=2.0
timezonefinder~=6.4.1
matplotlib~=3.8.2
numpy~=1.26.2
pytz~=2024.1
xradar~=0.5.0
wradlib~=2.0.3
#gdal # can't install gdal with pip
earthaccess~=0.9.0
rpy2~=3.5.11
flox
rioxarray
seaborn


