# requirements for python environment
# update with pip update -r requirements.txt
xarray~=2026.04.0
dask[distributed]~=2026.1.2
scipy~=1.11
pandas~=2.2.0
ipython
cartopy~=0.22
cftime~=1.6
numba~=0.65.1
xarray-regrid[accel]
bokeh # so we can monitor the dask cluster
requests~=2.33.0
timezonefinder~=6.4.1
matplotlib~=3.8.2
numpy~=2.4.4
pytz~=2024.1
wradlib
xradar
earthaccess~=0.9.0
flox
rioxarray
seaborn
python-dotenv # for environment variables
lmoments3 # for python fitting



